/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff7f50;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1{
    color: #ffffff;
}

h2 {
    color: #ff7f50;
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

#wing-chart {
    max-width: 100%;
}
